   <div>
      <h1 id="head1">Sunshine Boys Website</h1>
  </div>

  <div class="light-form" id="feedback">
    <div class="light-form__title">Login</div>
    <form method="post" action="/users/login">
      <div class="light-form__wrap">
          <input class="light-form__control light-form__control--text" type="text" name="username" required/>
          <label class="light-form__label">Username:</label>
        
      </div>
      <div class="light-form__wrap">
          <input class="light-form__control light-form__control--text" type="password" name="password" required/>
          <label class="light-form__label">Password:</label>  
      </div>

      <div class="light-form__wrap--center">
        <input class="light-form__btn" type="submit" value="Submit"/>
      </div>
    </form>
</div>